In [7]:
# Dependencies
import pandas as pd
import csv
import requests
from pprint import pprint
from scipy.stats import linregress
import matplotlib.pyplot as plt
from sodapy import Socrata
import os
import gmaps
from config import api_key

In [8]:
# Data collection - year 2021 - during-covid

client = Socrata("data.melbourne.vic.gov.au", app_token="Mp9xM2ztPtLxPmpOj2ZhhkFYm", username="angelaliu0101@gmail.com", password="Lh*19630722")

results_2021 = client.get("b2ak-trbp", year= 2021, limit = 10000000)

results_2021_df = pd.DataFrame.from_records(results_2021)
results_2021_df.to_csv("foottrafficsdata2021.csv")
results_2021_df.head()

,id,date_time,year,month,mdate,day,time,sensor_id,sensor_name,hourly_counts
0,3482939,2021-01-01T00:00:00.000,2021,January,1,Friday,0,4,Town Hall (West),1461
1,3482940,2021-01-01T00:00:00.000,2021,January,1,Friday,0,17,Collins Place (South),79
2,3482941,2021-01-01T00:00:00.000,2021,January,1,Friday,0,18,Collins Place (North),33
3,3482942,2021-01-01T00:00:00.000,2021,January,1,Friday,0,53,Collins St (North),196
4,3482943,2021-01-01T00:00:00.000,2021,January,1,Friday,0,2,Bourke Street Mall (South),236

In [9]:
# Data 2021 cleaning - data types

results_2021_df.dtypes

id               object
date_time        object
year             object
month            object
mdate            object
day              object
time             object
sensor_id        object
sensor_name      object
hourly_counts    object
dtype: object

In [10]:
# Data 2021 cleaning - data types
data_type_dict = {"id":int,"year":int,"mdate":int,"time":int,"hourly_counts":float}
results_2021_df = results_2021_df.astype(data_type_dict)

results_2021_df.dtypes

id                 int32
date_time         object
year               int32
month             object
mdate              int32
day               object
time               int32
sensor_id         object
sensor_name       object
hourly_counts    float64
dtype: object

In [11]:
# Data 2021 groupby sum
results_2021_df= results_2021_df[(results_2021_df["time"] >= 12) & (results_2021_df["time"] <= 15)]
location = results_2021_df.groupby("sensor_name")
foottrafic_2021 = location["hourly_counts"].sum()

results_2021_groupby_df = pd.DataFrame({"Midday foottrafic 2021": foottrafic_2021})
results_2021_groupby_df = results_2021_groupby_df.reset_index()
results_2021_groupby_df.rename(columns={"sensor_name":"location"},inplace=True)
results_2021_groupby_df

                          location  Midday foottrafic 2021
0                    231 Bourke St                729886.0
1                     Alfred Place                185084.0
2                   Birrarung Marr                320080.0
3   Bourke St - Spencer St (North)                641481.0
4   Bourke St - Spencer St (South)                 33935.0
..                             ...                     ...
77                Town Hall (West)               2264144.0
78                  Victoria Point                 80716.0
79                 Waterfront City                 91380.0
80                     Webb Bridge                355120.0
81                  Westwood Place                 52644.0

[82 rows x 2 columns]

In [12]:
# Data 2021 groupby mean

results_2021_df= results_2021_df[(results_2021_df["time"] >= 12) & (results_2021_df["time"] <= 15)]
location = results_2021_df.groupby("sensor_name")
foottrafic_2021 = location["hourly_counts"].mean()

results_2021_groupby_df = pd.DataFrame({"Midday foottrafic 2021": foottrafic_2021})
results_2021_groupby_df = results_2021_groupby_df.reset_index()
results_2021_groupby_df.rename(columns={"sensor_name":"location"},inplace=True)
results_2021_groupby_df

                          location  Midday foottrafic 2021
0                    231 Bourke St              549.612952
1                     Alfred Place              127.468320
2                   Birrarung Marr              219.232877
3   Bourke St - Spencer St (North)              439.370548
4   Bourke St - Spencer St (South)              136.834677
..                             ...                     ...
77                Town Hall (West)             1550.783562
78                  Victoria Point               56.052778
79                 Waterfront City               62.589041
80                     Webb Bridge              243.232877
81                  Westwood Place               36.057534

[82 rows x 2 columns]

In [15]:
# Data 2021 groupby mean

results_2021_df= results_2021_df[(results_2021_df["time"] >= 12) & (results_2021_df["time"] <= 15)]
location = results_2021_df.groupby("sensor_name")
foottrafic_2021 = location["hourly_counts"].describe()

foottrafic_2021

,count,mean,std,min,25%,50%,75%,max
sensor_name,,,,,,,,
231 Bourke St,1328.0,549.612952,278.569425,105.0,352.75,508.0,685.25,3874.0
Alfred Place,1452.0,127.468320,112.177058,2.0,47.00,83.5,169.25,562.0
Birrarung Marr,1460.0,219.232877,256.215536,10.0,113.00,154.0,238.00,4067.0
Bourke St - Spencer St (North),1460.0,439.370548,251.192160,10.0,176.75,454.5,617.00,1478.0
Bourke St - Spencer St (South),248.0,136.834677,70.963246,22.0,80.00,127.0,192.25,321.0
...,...,...,...,...,...,...,...,...
Town Hall (West),1460.0,1550.783562,792.553706,56.0,648.50,1660.5,2109.00,3694.0
Victoria Point,1440.0,56.052778,45.043720,0.0,22.00,46.0,79.00,271.0
Waterfront City,1460.0,62.589041,41.174526,1.0,36.00,53.0,79.00,401.0
Webb Bridge,1460.0,243.232877,99.758223,0.0,180.00,227.0,299.25,1158.0
Westwood Place,1460.0,36.057534,36.500135,0.0,13.00,23.0,47.00,424.0

In [16]:
# Getting location coordinate

Location_list = results_2021_groupby_df["location"].tolist()

location = []
latitude = []
longitude = []

for i in Location_list:
    try:
        base_url = "https://maps.googleapis.com/maps/api/geocode/json"
        target_location2 = i + ", Melbourne"
    
        params = {"address": target_location2, "key": api_key}
        response = requests.get(base_url, params=params)
        location_geo = response.json()
        lat = location_geo["results"][0]["geometry"]["location"]["lat"]
        lng = location_geo["results"][0]["geometry"]["location"]["lng"]
        print(f"{target_location2}: {lat}, {lng}")
        location.append(i)
        latitude.append(lat)
        longitude.append(lng)
    except:
        print("Target location not found")

231 Bourke St, Melbourne: -37.8133992, 144.9668301
Alfred Place, Melbourne: -37.8143404, 144.9701942
Birrarung Marr, Melbourne: -37.8187351, 144.9742624
Bourke St - Spencer St (North), Melbourne: -37.8170606, 144.9533436
Bourke St - Spencer St (South), Melbourne: -37.8171069, 144.9531785
Bourke St Bridge, Melbourne: -37.8159602, 144.9572025
Bourke St-Russell St (West), Melbourne: -37.8159602, 144.9572025
Bourke Street Mall (North), Melbourne: -37.8137685, 144.9644379
Bourke Street Mall (South), Melbourne: -37.8137685, 144.9644379
Chinatown-Lt Bourke St (South), Melbourne: -37.8132372, 144.9627782
Chinatown-Swanston St (North), Melbourne: -37.8058235, 144.9631138
Collins Place (North), Melbourne: -37.8144674, 144.9733256
Collins Place (South), Melbourne: -37.8144674, 144.9733256
Collins St (North), Melbourne: -37.8182937, 144.956676
Elizabeth St-La Trobe St (East), Melbourne: -37.8102887, 144.9614233
Elizabeth St-Lonsdale St (South), Melbourne: -37.8122041, 144.962311
Errol Street (East), Melbourne: -37.8012559, 144.9500134
Faraday St-Lygon St (West), Melbourne: -37.7986322, 144.9673519
Flinders La-Swanston St (West), Melbourne: -37.8164851, 144.9669885
Flinders Ln - Degraves St (Crossing), Melbourne: -37.8168836, 144.9656031
Flinders Ln - Degraves St (North), Melbourne: -37.8168836, 144.9656031
Flinders Ln - Degraves St (South), Melbourne: -37.8168836, 144.9656031
Flinders Ln -Degraves St (Crossing), Melbourne: -37.8168836, 144.9656031
Flinders Ln -Degraves St (North), Melbourne: -37.8168836, 144.9656031
Flinders Ln -Degraves St (South), Melbourne: -37.8168836, 144.9656031
Flinders St (South), Melbourne: -37.8185815, 144.9637799
Flinders St - ACMI, Melbourne: -37.8175974, 144.9686881
Flinders St-ACMI, Melbourne: -37.8175974, 144.9686881
Flinders St-Elizabeth St (East), Melbourne: -37.8181479, 144.9648712
Flinders St-Spark La, Melbourne: -37.81557979999999, 144.9736114
Flinders Street Station Underpass, Melbourne: -37.8182711, 144.9670618
Grattan St-Swanston St (West), Melbourne: -37.8003998, 144.9638985
Harbour Esplanade (West) - Bike Path, Melbourne: -37.8514722, 144.9681887
Harbour Esplanade (West) - Ped Path, Melbourne: -37.8174417, 144.9459303
Harbour Esplanade (West) - Pedestrian Pa, Melbourne: -37.8174417, 144.9459303
La Trobe St (North), Melbourne: -37.8112453, 144.9581501
Lincoln-Swanston(West), Melbourne: 28.0716832, -80.65338779999999
Little Collins St-Swanston St (East), Melbourne: -37.8145013, 144.966084
Lonsdale St (South), Melbourne: -37.8122489, 144.9621762
Lonsdale St - Elizabeth St (North), Melbourne: -37.8122489, 144.9621762
Lonsdale St-Spring St (West), Melbourne: -37.8093454, 144.9720377
Lygon St (East), Melbourne: -37.7844784, 144.9697077
Lygon St (West), Melbourne: -37.7844784, 144.9697077
Macaulay Rd - Bellair St, Melbourne: -37.7944614, 144.9303886
Macaulay Rd-Bellair St, Melbourne: -37.7944614, 144.9303886
Melbourne Central, Melbourne: -37.8123652, 144.9623382
Melbourne Central-Elizabeth St (East), Melbourne: -37.8102361, 144.9627652
Melbourne Convention Exhibition Centre, Melbourne: -37.8252393, 144.9519166
Monash Rd-Swanston St (West), Melbourne: -37.7985114, 144.9642048
New Quay, Melbourne: -37.8143399, 144.9427283
Pelham St (S), Melbourne: -37.8024538, 144.9637163
Pelham St (South), Melbourne: -37.8024538, 144.9637163
Princes Bridge, Melbourne: -37.8192405, 144.9683463
QV Market-Elizabeth St (West), Melbourne: -37.8075798, 144.956785
QV Market-Peel St, Melbourne: -37.8075798, 144.956785
Target location not found
QVM-Queen St (East), Melbourne: -37.8075798, 144.956785
QVM-Therry St (South), Melbourne: -37.8075798, 144.956785
Queen St (West), Melbourne: 28.0716832, -80.65338779999999
Royal Pde - Grattan St, Melbourne: -37.7997236, 144.9573773
Royal Pde-Grattan St, Melbourne: -37.7997236, 144.9573773
Sandridge Bridge, Melbourne: -37.82003419999999, 144.963055
Southbank, Melbourne: -37.82384, 144.9624973
Southern Cross Station, Melbourne: -37.81839, 144.9525
Spencer St-Collins St (North), Melbourne: -37.8189887, 144.9541878
Spencer St-Collins St (South), Melbourne: -37.81848129999999, 144.9538201
Spring St - Flinders St (West), Melbourne: -37.8153504, 144.9744556
Spring St- Flinders St (West), Melbourne: -37.8153504, 144.9744556
St Kilda Rd-Alexandra Gardens, Melbourne: -37.8204318, 144.9721339
State Library, Melbourne: -37.8098087, 144.9651897
State Library - New, Melbourne: -37.8098087, 144.9651897
State Library-New, Melbourne: -37.8098087, 144.9651897
Swanston St - City Square, Melbourne: -37.8058235, 144.9631138
Swanston St - RMIT Building 14, Melbourne: -37.8075936, 144.9632783
Swanston St - RMIT Building 80, Melbourne: -37.8081454, 144.9626885
The Arts Centre, Melbourne: -37.820183, 144.9681048
Tin Alley-Swanston St (West), Melbourne: -37.7967761, 144.9646266
Town Hall (West), Melbourne: 28.0716832, -80.65338779999999
Victoria Point, Melbourne: -37.8185564, 144.9469186
Waterfront City, Melbourne: -37.8128397, 144.9382043
Webb Bridge, Melbourne: -37.823352, 144.9473047
Westwood Place, Melbourne: -37.8127086, 144.9715452

In [17]:
# create new df for location coordinate

location_dict = {
    "location": location,
    "Lat": latitude,
    "Lon": longitude,
    }
location_data_dict = pd.DataFrame(location_dict)

location_data_dict.head()

                         location        Lat         Lon
0                   231 Bourke St -37.813399  144.966830
1                    Alfred Place -37.814340  144.970194
2                  Birrarung Marr -37.818735  144.974262
3  Bourke St - Spencer St (North) -37.817061  144.953344
4  Bourke St - Spencer St (South) -37.817107  144.953179

In [18]:
# merging foot traffic data and coord data

data_summary_2021 = location_data_dict.merge(results_2021_groupby_df,how="left", on="location" )
data_summary_2021.to_csv ("datasummary2022.csv")
data_summary_2021.head(10)

,location,Lat,Lon,Midday foottrafic 2021
0,231 Bourke St,-37.813399,144.966830,549.612952
1,Alfred Place,-37.814340,144.970194,127.468320
2,Birrarung Marr,-37.818735,144.974262,219.232877
3,Bourke St - Spencer St (North),-37.817061,144.953344,439.370548
4,Bourke St - Spencer St (South),-37.817107,144.953179,136.834677
5,Bourke St Bridge,-37.815960,144.957202,378.198113
6,Bourke St-Russell St (West),-37.815960,144.957202,490.004875
7,Bourke Street Mall (North),-37.813769,144.964438,1450.730337
8,Bourke Street Mall (South),-37.813769,144.964438,920.076027
9,Chinatown-Lt Bourke St (South),-37.813237,144.962778,241.371918

In [19]:
# creating google heatmap

# location & foot traffic input
lat_long = data_summary_2021[["Lat", "Lon"]]
foottrafic = data_summary_2021["Midday foottrafic 2021"]

# Plot Heatmap
fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(lat_long, weights=foottrafic, max_intensity=2000000)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
{"pies_2019":[19,8,30,21,38]
"pies_2019":[19,8,30,21,38]}
index = ["Dad","Mum","Bro","Sis","Me"]
plotdata.plot(kind="bar")
plt.title("Mince pie Consumption Study")
plt.xlabel("Family Member")
plt.ylabel("pies Consumed")

SyntaxError: invalid syntax (Temp/ipykernel_11172/2487638043.py, line 2)

In [ ]:
# Data for 2019, 2020, 2021
# 7:00 - 10:00 am
# 12:00 - 15:00 pm
# 18:00 - 21:00 pm
# summing hourly foottrafic

In [ ]:
# get nearby restaurants
# add markers to identify nearby resto and advice on competition

In [ ]:
# correlation
# foottrafic n eatery